<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- css -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- icons -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <!-- effect -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
     <!-- header start -->
     <header class="header" id="header">
      <div class="navbar">
        <div class="logo">
          <a href="index.html"><img src="images/logo.png" alt="" /></a>
        </div>
        <ul class="menu">
          <li><a href="index.html">trang chủ</a></li>
          <li><a href="yard.html">Đặt sân</a></li>
          <li><a href="">Sân hot</a></li>
          <li><a href="">Dịch vụ</a></li>
          <li><a href="">Liên hệ</a></li>
        </ul>
        <div class="login">
          <a href="login.html">đăng nhập</a>
          <a href="login.html">đăng ký</a>
        </div>
        <div id="menuBar" class="icons bx bx-menu"></div>
      </div>
    </header>
    <!-- header end -->
    <div class="yard-detail-image">
        <img src="images/bg1.jpg" alt="">
    </div>
   <section class="yard-detail">
    <div class="yard-detail-heading">
        <h2>Sân Football Arena</h2>
        <p><i class='bx bx-map' ></i>3A Phan Chu Trinh, P.12, Quận Bình Thạnh, Hồ Chí Minh</p>
    </div>
    <div class="yard-detail-content">
      <div class="yard-detail-left">
        <h1>Thông tin sân bóng</h1>
        <div class="yard-detail-title">
            <h2>Sân Football Arena</h2>
        </div>
        <div class="yard-detail-location">
            <i class='bx bx-map' ></i><p>3A Phan Chu Trinh, P.12, Quận Bình Thạnh, Hồ Chí Minh</p>
        </div>
        <div class="yard-detail-type">
            <i class='bx bx-football' ></i><p>Sân 5 - Sân 7 - sân 11</p>
        </div>
        <div class="yard-detail-times">
            <i class='bx bx-time-five' ></i><p>5h00 - 0h00</p>
        </div>
        <div class="yard-detail-phone">
            <i class='bx bx-mobile-alt' ></i><p>0936 068 488</p>
        </div>
      </div>
      <div class="yard-detail-right">
        <h1>Loại sân</h1>
        <div class="yard-detail-list">
          <div class="yard-detail-item">
            <i class='bx bx-football'></i><p>14 sân 5</p>
          </div>
          <div class="yard-detail-item">
            <i class='bx bx-football'></i><p>2 sân 7</p>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="yard-detail-images">
        <h1>Hình ảnh sân bóng</h1>
        <div class="yard-detail-list">
            <div class="yard-detail-item">
                <img src="images/footballarena1.jpg" alt="">
            </div>
            <div class="yard-detail-item">
                <img src="images/footballarena.jpg" alt="">
            </div>
            <div class="yard-detail-item">
                <img src="images/footballarena2.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="yard-detail-services">
        <h1>Dịch vụ</h1>
        <div class="yard-detail-list">
          <div class="yard-detail-item">
            <i class='bx bx-money'></i><p>Đặt cọc</p>
          </div>
          <div class="yard-detail-item">
            <i class='bx bx-wifi' ></i><p>wifi</p>
          </div>
          <div class="yard-detail-item">
            <i class='bx bx-spray-can'></i><p>Miễn phí trà đá</p>
          </div>
          <div class="yard-detail-item">
            <i class='bx bxs-parking' ></i><p>bãi đỗ xe</p>
          </div>
          <div class="yard-detail-item">
            <i class='bx bx-bath' ></i><p>Phòng tắm</p>
          </div>
          <div class="yard-detail-item">
            <i class='bx bx-medal'></i><p>Tổ chức giải đấu</p>
          </div>
        </div>
    </div>
    <div class="yard-detail-map">
      <h1>Bản đồ</h1>
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.946620096234!2d106.69966154993976!3d10.815397092257287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175297f9c9a6a6f%3A0x31237a1f7815c8c!2zU8OibiBiw7NuZyDEkcOhIEFyZW5h!5e0!3m2!1svi!2s!4v1642425895302!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="yard-detail-comments">
      <h1>Đánh giá</h1>
    </div>
    <div class="yard-detail-similar swiper">
      <h1>Sân trong khu vực</h1>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="yard-detail-item">
            <div class="yard-detail-image">
              <img src="images/chaolua.jpg" alt="">
            </div>        
            <div class="yard-detail-text">  
              <div class="yard-detail-type">
                <span>Sân 5 - sân 7</span>
              </div>
              <div class="yard-detail-price">
                <p>250.000 VND/giờ</p>
              </div> 
            </div>            
            <div class="yard-detail-maincontent">
              <h2 class="yard-detail-title">Sân Chảo lửa</h2>
              <p class="yard-detail-location">30 Phan Thúc Duyện, P. 4, Quận Tân Bình, Hồ Chí Minh</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="yard-detail-item">
            <div class="yard-detail-image">
              <img src="images/chaolua.jpg" alt="">
            </div>        
            <div class="yard-detail-text">
              <div class="yard-detail-type">
                <span>Sân 5 - sân 7</span>
              </div>
              <div class="yard-detail-price">
                <p>250.000 VND/giờ</p>
              </div> 
            </div>            
            <div class="yard-detail-maincontent">
              <h2 class="yard-detail-title">Sân Chảo lửa</h2>
              <p class="yard-detail-location">30 Phan Thúc Duyện, P. 4, Quận Tân Bình, Hồ Chí Minh</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="yard-detail-item">
            <div class="yard-detail-image">
              <img src="images/chaolua.jpg" alt="">
            </div>        
            <div class="yard-detail-text">
              <div class="yard-detail-type">
                <span>Sân 5 - sân 7</span>
              </div>
              <div class="yard-detail-price">
                <p>250.000 VND/giờ</p>
              </div> 
            </div>            
            <div class="yard-detail-maincontent">
              <h2 class="yard-detail-title">Sân Chảo lửa</h2>
              <p class="yard-detail-location">30 Phan Thúc Duyện, P. 4, Quận Tân Bình, Hồ Chí Minh</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="yard-detail-item">
            <div class="yard-detail-image">
              <img src="images/chaolua.jpg" alt="">
            </div>        
            <div class="yard-detail-text">
              <div class="yard-detail-type">
                <span>Sân 5 - sân 7</span>
              </div>
              <div class="yard-detail-price">
                <p>250.000 VND/giờ</p>
              </div> 
            </div>            
            <div class="yard-detail-maincontent">
              <h2 class="yard-detail-title">Sân Chảo lửa</h2>
              <p class="yard-detail-location">30 Phan Thúc Duyện, P. 4, Quận Tân Bình, Hồ Chí Minh</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="yard-detail-item">
            <div class="yard-detail-image">
              <img src="images/chaolua.jpg" alt="">
            </div>        
            <div class="yard-detail-text">
              <div class="yard-detail-type">
                <span>Sân 5 - sân 7</span>
              </div>
              <div class="yard-detail-price">
                <p>250.000 VND/giờ</p>
              </div> 
            </div>            
            <div class="yard-detail-maincontent">
              <h2 class="yard-detail-title">Sân Chảo lửa</h2>
              <p class="yard-detail-location">30 Phan Thúc Duyện, P. 4, Quận Tân Bình, Hồ Chí Minh</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
   </section>   
    <!-- footer section start -->
    <footer class="footer" id="footer">
      <div class="footer-list">
        <div class="footer-item">
          <h2>find yard Sport</h2>
          <ul>
            <li><a href="">Giới thiệu FYS</a></li>
            <li><a href="">BLog</a></li>
            <li><a href="">Điều khoản sử dụng</a></li>
            <li><a href="">Chính sách bảo mật</a></li>
          </ul>
        </div>
        <div class="footer-item">
          <h2>THÔNG TIN LIÊN HỆ</h2>
          <ul>
            <li><a href=""><i class='bx bxl-facebook-circle'></i>findyardsport</a></li>
            <li><a href=""><i class='bx bxl-gmail' ></i>findyardsport@gmail.com</a></li>            
          </ul>
        </div>
        <div class="footer-item">
          <h2>THANH TOÁN</h2>
          <img src="images/mastercard.png" alt="">
          <img src="images/visa.png" alt="">
          <img src="images/discover.png" alt="">
          <img src="images/momo.png" alt="">
        </div>
        <div class="footer-item">
         <img src="images/logo.png" alt="">
        </div>
      </div>
    </footer>
    <!-- footer section end -->
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="js/main.js"></script>
    <script src="js/sldier.js"></script>
  </body>
</html>
